@font-face
  font-family: 'Reem Kufi'
  font-style: normal
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'), url('../assets/reem-kufi.woff2') format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
  
::selection
  background: transparent

*
  cursor: default
  user-select: none
  box-sizing: border-box
  outline: none !important

body
  overflow: hidden
  height: 320px
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica Neue, helvetica
  font-weight: 200
  font-size: 12px
  color: #666
  opacity: 0
  transform: scale(0.9)
  transform-origin: 50% 0%
  animation: 0.2s ease 0s 1 normal forwards fadein
  
body.update-message
  #update-message
    display: block !important
    
  #head-title
    display: none !important
  
@keyframes fadein
  0%
    opacity: 0
    transform: scale(0.95)
  100%
    opacity: 1
    transform: scale(1.0)

a
  color: #aaa
  text-decoration: none
  transition: 200ms

a:hover
  text-decoration: underline
  color: #555

select
  outline: none !important
  
#label-location, #update-rate, #autolaunch
  float: right
  
#startup
  margin: 0
  
#update-message
  display: none
  z-index: 100
  position: absolute
  width: 100%
  height: 80px
  color: #fff
  background-color: rgba(0,0,0,0.4)
  text-align: center
  
  p
    margin: 10px 0 0 0
    font-weight: 600
    font-size: 14px
    
  small
    display: block
    font-size: 10px
    margin: 5px
    
  button
    border: 0
    padding: 4px 8px
    border-radius: 3px
    color: #fff
    background-color: #27ae60

header
  position: relative
  display: flex
  height: 80px
  width: 100%
  justify-content: center
  align-items: center

#head-bg
#head-mask
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

#head-bg
  background-image: url('../assets/title-bg.jpg')
  background-size: cover
  background-position: center

#head-mask
  background-color: rgba(0, 0, 0, 0.2)

#head-title
  margin: 0
  font-weight: 300
  font-family: Reem Kufi, helvetica
  font-size: 44px
  z-index: 1
  color: #fff
  text-align: center

#panel
  position: absolute
  width: 100%
  height: calc(100% - 80px)
  padding: 10px
  background-color: rgba(255,255,255,0.96)

nav
  position: relative
  height: 30px
  border-bottom: 1px solid #aaa

#active-arrow
  position: absolute
  bottom: 0
  width: 0
  height: 0
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-bottom: 5px solid #aaa
  transition: transform 300ms

  &.tab-0
    transform: translate3d(9.5px, 0, 0)

  &.tab-1
    transform: translate3d(44px, 0, 0)
    
.icon
  position: absolute
  height: 16px
  width: 16px
  top: 6px
  left: 6px
  font-size: 16px
  margin: 0
  fill: #666
  transition: 500ms transform cubic-bezier(0.165, 0.840, 0.440, 1.000)
  backface-visibility: hidden
  transform-origin: center

.btn
  position: absolute
  top: -5px
  width: 22px
  height: 22px
  padding: 14px
  border-radius: 100%
  transition: 1000ms

.btn:active
  background-color: #ccc
  transition: 0ms

#btn-toggle
  right: -5px
  perspective: 40px
  perspective-origin: center
  transition: transform 2000ms, opacity 300ms
  
  .icon-play
    left: 8px
    transform: rotate3d(0, 1, 0, 180deg)

  &.paused .icon-pause
    transform: rotate3d(0, 1, 0, 180deg)

  &.paused .icon-play
    transform: rotate3d(0, 0, 0, 0)
  
#btn-favorite
  right: 26px
  
  &.active svg
    fill: red
    animation: 1s ease-in 0s infinite normal both heartbeat

#artwork-source
  margin: 0

#artwork-title
  font-size: 1.25em
  margin: 0 0 2px 0

#artwork-text
  margin: 0 0 10px 0
  font-size: 10px

#btn-prefs-tab
  left: 35px
  
@keyframes heartbeat
  0%
    transform: scale(1.0)
  10%
    transform: scale(1.2)
  20%
    transform: scale(1.0)
  30%
    transform: scale(1.2)
  100%
    transform: scale(1.0)

.tab
  position: absolute
  top: 50px
  left: 0
  width: 100%
  height: 164px
  padding: 10px
  transition: transform 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000)

#description.hidden
  transform: translate3d(-110%, 0, 0)

#preferences.hidden
  transform: translate3d(110%, 0, 0)

#source, #artwork-link
  transition: opacity 300ms

#feedback
  position: absolute
  bottom: 5px
  
#bottom-btns
  position: fixed
  display: flex
  justify-content: space-between
  left: 0
  bottom: 0
  padding: 3px 10px 5px 10px
  font-size: 12px
  width: 100%
  background-color: rgba(0, 0, 0, 0.11)

#quit, #about, #favorited
  &:hover
    text-decoration: underline
