{
  "presets": [],
  "plugins": [
    "transform-strict-mode"
  ],
  "env": {
    "development": {
      "presets": [],
      "plugins": []
    },
    "production": {
      "presets": [],
      "plugins": ["babel-plugin-dev-expression"]
    }
  }
}
