[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Galeri
Version=1.0
X-GNOME-FullName=Galeri
Comment=A perpetual artwork streaming app.
Icon=Galeri
Terminal=false
Path=/opt/galeri
Exec=/opt/galeri/Galeri %U
TryExec=/opt/galeri/Galeri
StartupNotify=false
Categories=Productivity;Graphics & Photography;Add-ons;
