body {
  overflow: hidden;
  display: grid;
  place-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  font-family: system-ui;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}

h1 {
  margin-left: 0.75rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  opacity: 0;

  animation-name: move-right;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

p, small {
  margin: 0.25rem 0;
}

@keyframes move-right {
  0% {
    transform: translate(-15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

svg {
  height: 5rem;
  width: 5rem;
  border-width: 4px;
  border-radius: 9999px;
  border-color: white;
  opacity: 0;

  transform: translate(15px, 0);
  animation-name: enter;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes enter {
  0% {
    transform: scale(0.0) translate(15px, 0);
    opacity: 0;
  }
  60% {
    transform: scale(1.05) translate(0, 0);
  }
  80% {
    transform: scale(0.97) translate(0, 0);
  }
  100% {
    transform: scale(1.0) translate(0, 0);
    opacity: 1;
  } 
}
